@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,500;0,600;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;} */
/*--------------------*/
/* ________________________________________ */
body {
  font-family: "Montserrat";
}
body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 1300px;
  padding: 0px 15px;
  margin: 0px auto;
}

.main {
  flex: 1 1 auto;
}

.footer {
  width: 100%;
  height: calc(170px + 80 * (100vw - 320px) / 820);
  background-color: #E6E3C4;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
}
.footer p {
  letter-spacing: calc(1px + 2 * (100vw - 320px) / 820);
  margin-top: 15px;
  text-align: center;
  margin-bottom: 20px;
  font-size: calc(17px + 9 * (100vw - 320px) / 820);
}
.footer__Oleg {
  margin-bottom: 15px;
}
.footer__Oleg a {
  color: #000000;
}
.footer__Svitlana {
  margin-bottom: calc(13px + 33 * (100vw - 320px) / 820);
}
.footer__Svitlana a {
  color: #000000;
}
.footer__myContacts {
  font-family: "Josefin Slab";
  font-size: calc(18px + 8 * (100vw - 320px) / 820);
}
.footer__social {
  display: flex;
  justify-content: space-around;
  font-size: calc(22px + 6 * (100vw - 320px) / 820);
}
.footer__social a {
  color: #424035;
}

.fa-phone {
  color: rgb(66, 56, 35);
}

#scrollTop {
  position: fixed;
  bottom: 50px;
  right: 20px;
  font-size: 40px;
  z-index: 100;
  color: rgb(248, 211, 77);
}

.isShowBtn {
  opacity: 1;
  transition: 500ms;
}
.isShowBtn_hide {
  opacity: 0;
}

/* ________________Header________________ */
.header {
  position: absolute;
  z-index: 2;
  width: 100%;
  left: 0px;
  top: 0px;
}
.header__nav {
  padding-top: 70px;
}
@media (max-width: 768px) {
  .header__nav {
    position: absolute;
    top: 0%;
    left: -100%;
    height: 100vh;
    width: 100%;
    background-color: rgb(159, 132, 98);
    display: flex;
    transition: 1s;
    opacity: 0.5;
    overflow: auto;
  }
}
.header__nav.active {
  left: 0;
  opacity: 1;
}
.header__burger {
  display: block;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 80px;
  right: 30px;
  z-index: 5;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header__burger {
    left: -100%;
  }
}
.header__burger span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: rgb(255, 255, 255);
  transition: all 0.3s;
}
.header__burger span:first-child {
  top: 0px;
}
.header__burger span:last-child {
  top: auto;
  bottom: 0px;
}
.header__burger.active span {
  background-color: rgb(255, 59, 59);
  height: 2px;
  transform: scale(0);
}
.header__burger.active span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.header__burger.active span:last-child {
  transform: rotate(46deg);
  bottom: calc(50% - 1px);
}
@media (max-width: 768px) {
  .header__burger {
    top: calc(30px + 50 * (100vw - 320px) / 820);
    right: calc(15px + 15 * (100vw - 320px) / 820);
  }
}

.menu__list {
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}
@media (max-width: 768px) {
  .menu__list {
    flex-direction: column;
    gap: 0px;
    margin: auto;
    border: none;
  }
}
.menu__item {
  padding: 13px;
  font-size: 18px;
  letter-spacing: 1px;
}
@media (max-width: 768px) {
  .menu__item {
    display: block;
    font-size: 30px;
    line-height: 100px;
  }
}
.menu__item a {
  color: rgb(255, 255, 255);
  position: relative;
}
.menu__item a::before {
  content: attr(content);
  position: absolute;
  overflow: hidden;
  border-right: 1px solid rgb(241, 13, 13);
  transition: 700ms;
  width: 1%;
}
.menu__item a:hover::before {
  width: 100%;
  background-color: rgb(251, 251, 251);
  opacity: 0.1;
}
.menu__item a:hover {
  color: rgb(230, 198, 81);
}

/* ________________/Header________________ */
/* ________________section-one________________ */
.section-one__body {
  position: relative;
  z-index: 0;
}
.section-one__rectangle img {
  width: 100%;
}
.section-one__button-container {
  display: flex;
  justify-content: center;
}
.section-one__button {
  display: flex;
  gap: 30px;
  position: absolute;
  bottom: 120px;
}
.section-one__button a {
  display: block;
  background-color: #94814b;
  color: white;
  text-transform: uppercase;
  font-size: 17px;
  width: 180px;
  height: 50px;
  text-align: center;
  padding-top: 16px;
}
@media (max-width: 1200px) {
  .section-one__button a {
    font-size: calc(9.5px + 7.5 * (100vw - 320px) / 820);
    width: calc(90px + 90 * (100vw - 320px) / 820);
    height: calc(30px + 20 * (100vw - 320px) / 820);
    padding-top: calc(10px + 6 * (100vw - 320px) / 820);
  }
}
@media (max-width: 1200px) {
  .section-one__button {
    bottom: calc(20px + 100 * (100vw - 320px) / 820);
  }
}

/* ________________/section-one________________ */
/* ________________section-two________________ */
.section-two__best {
  background-color: #282828;
  color: rgb(219, 218, 218);
}
.section-two__body {
  padding: 100px 0px;
}
.section-two__contain {
  padding: 60px;
  border: 3px solid white;
  text-align: center;
}
.section-two__title {
  font-size: 36px;
  font-family: "Playfair Display";
  margin-bottom: 40px;
  line-height: calc(20px + 20 * (100vw - 320px) / 820);
}
@media (max-width: 1200px) {
  .section-two__title {
    font-size: calc(20px + 16 * (100vw - 320px) / 820);
  }
}
.section-two__line {
  display: block;
  margin: auto;
  height: 1px;
  width: 160px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 40px;
}
@media (max-width: 700px) {
  .section-two__line {
    width: calc(50px + 110 * (100vw - 320px) / 820);
  }
}
.section-two__text {
  max-width: 700px;
  margin: auto;
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 60px;
}
@media (max-width: 700px) {
  .section-two__text {
    font-size: calc(12px + 6 * (100vw - 320px) / 820);
    margin-bottom: calc(30px + 30 * (100vw - 320px) / 820);
  }
}

/* ________________/section-two________________ */
/* ________________section-three________________ */
.section-three_catalog {
  background-color: #E6E3C4;
}
.section-three__header h2 {
  padding-top: 40px;
  text-align: center;
  color: #282828;
  font-family: "Playfair Display";
  font-size: 36px;
  line-height: 54px;
  font-weight: 400;
  margin-bottom: 50px;
}
.section-three__product {
  display: block;
  margin: auto;
}

.catalog-nav__contain {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.catalog-nav__item {
  font-size: calc(13px + 5 * (100vw - 320px) / 820);
  width: calc(70px + 110 * (100vw - 320px) / 820);
  height: calc(35px + 15 * (100vw - 320px) / 820);
  border-radius: 10%;
  transition: 200ms;
  background-color: rgb(82, 3, 3);
  color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.catalog-nav__item:hover {
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}
.catalog-nav__item a {
  padding-top: calc(11px + 4 * (100vw - 320px) / 820);
  height: 100%;
  width: 100%;
  color: #fff;
}
.product {
  padding-bottom: 40px;
}
.product__grape {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product__stalk {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.product__wine {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid rgba(255, 255, 255, 0.642);
  padding: 20px;
  margin-bottom: 30px;
}
.product__wine p {
  font-family: "Playfair Display";
  color: #282828;
  max-width: 1200px;
  font-size: calc(13px + 4 * (100vw - 320px) / 820);
  line-height: calc(22px + 11 * (100vw - 320px) / 820);
  margin: auto;
  text-align: center;
  margin-bottom: 25px;
}
.product__wine-bottles {
  display: flex;
  flex-wrap: wrap;
}
.product__title {
  color: #282828;
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  font-family: "Josefin Slab";
  font-weight: 400;
}
.product__item_title {
  font-family: "Josefin Slab";
  text-align: center;
  margin-bottom: 10px;
  font-size: 24px;
}
.product__price {
  background-color: antiquewhite;
  text-align: center;
}

.card {
  border-radius: 10px;
  transform-style: preserve-3d;
  max-width: 270px;
  margin-bottom: 30px;
  box-shadow: 7px 7px 15px 4px rgb(179, 172, 138);
  border-radius: 10px;
  margin-bottom: 80px;
}
.card :hover {
  cursor: pointer;
}
@media (max-width: 680px) {
  .card.card {
    max-width: 220px;
  }
}
@media (max-width: 500px) {
  .card.card {
    max-width: 130px;
  }
}

.front {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  background: #e7eacb;
}
.front__image {
  width: 270px;
  height: 300px;
}
.front__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 30px;
  padding: 10px;
}
@media (max-width: 680px) {
  .front__image {
    width: 220px;
    height: 250px;
  }
}
@media (max-width: 500px) {
  .front__image {
    width: 130px;
    height: 160px;
  }
}
.front__title {
  font-family: "Forum";
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
  font-size: 26px;
  opacity: 0.9;
  color: #312f2f;
}
@media (max-width: 500px) {
  .front__title {
    font-size: 16px;
  }
}
.front__description p {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
  font-family: "Forum";
}
@media (max-width: 500px) {
  .front__description p {
    font-size: 14px;
  }
}
.front__price {
  font-size: 26px;
  background-color: #429931;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 270px;
  opacity: 0.7;
  font-weight: 700;
  font-family: "Forum";
}
@media (max-width: 680px) {
  .front__price {
    width: 220px;
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .front__price {
    width: 130px;
    font-size: 17px;
  }
}

.back {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  color: #0f1d28;
  background: #dbdc9b;
}
.back__description p {
  font-family: "Josefin Slab";
  padding: 5px;
  text-align: center;
  font-size: 18px;
  line-height: 27px;
}
@media (max-width: 680px) {
  .back__description p {
    padding: 4px;
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .back__description p {
    padding: 4px;
    font-size: 12px;
    line-height: 13px;
  }
}

.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 10px;
}
.row:last-child {
  margin-bottom: 55px;
}

.top {
  background-color: rgb(192, 176, 128);
  padding: 2px 2px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.name {
  flex: 0 1 75%;
  font-size: 23px;
  margin-left: 50px;
  letter-spacing: 1px;
  font-family: "Forum";
}
@media (max-width: 480px) {
  .name {
    font-size: 18px;
    margin-left: 10px;
    flex: 0 1 70%;
  }
}

.price {
  display: flex;
  flex: 0 1 25%;
  justify-content: center;
  font-size: 18px;
  margin-right: 15px;
}
@media (max-width: 480px) {
  .price {
    font-size: 17px;
    flex: 0 1 30%;
    margin-right: 12px;
  }
}

.button {
  background-color: #fafafa;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 25px;
  width: 60px;
  height: 50px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .button {
    font-size: 20px;
    width: 55px;
    height: 38px;
  }
}

.fa-hand-point-up {
  color: #96d61f;
}

.description {
  display: flex;
  align-items: center;
  padding: 10px;
  flex: 1 1 80%;
  font-size: 18px;
  line-height: 35px;
}
@media (max-width: 480px) {
  .description {
    font-size: 15px;
    line-height: 23px;
  }
}

.bottom {
  display: none;
  font-size: 25px;
  transition: all 0.3s ease;
}

.active {
  display: flex;
  transition: all 1s ease;
  background-color: rgba(248, 255, 252, 0.6941176471);
  border-radius: 5px;
}

.wine-bottles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.bottle-wine__cards {
  width: 270px;
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0.5px 0.5px 2px 1px rgba(164, 163, 163, 0.614);
  background-color: rgba(249, 246, 237, 0.4392156863);
}
@media (max-width: 680px) {
  .bottle-wine__cards {
    max-width: 220px;
  }
}
@media (max-width: 500px) {
  .bottle-wine__cards {
    max-width: 140px;
  }
}
.bottle-wine__wrap-img {
  width: 170px;
  height: 310px;
  margin: 0 auto;
}
@media (max-width: 680px) {
  .bottle-wine__wrap-img {
    width: 150px;
    height: 270px;
  }
}
@media (max-width: 500px) {
  .bottle-wine__wrap-img {
    width: 130px;
    height: 240px;
  }
}
.bottle-wine__wrap-img:hover {
  animation: bottleAnim 1s ease-in-out;
}
.bottle-wine__wrap-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bottle-wine__title {
  text-align: center;
  font-family: "Forum";
  font-size: calc(18px + 10 * (100vw - 320px) / 820);
  margin-bottom: 10px;
}
.bottle-wine__description {
  text-align: center;
  font-family: "Forum";
  font-size: calc(17px + 4 * (100vw - 320px) / 820);
}

@keyframes bottleAnim {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(1%);
    transform: rotate(6deg);
  }
  30% {
    transform: translateX(-1%);
    transform: rotate(-4deg);
  }
  45% {
    transform: translateX(1%);
    transform: rotate(4deg);
  }
  60% {
    transform: translateX(-1%);
    transform: rotate(-3deg);
  }
  85% {
    transform: translateX(1%);
    transform: rotate(2deg);
  }
  100% {
    transform: translateX(0%);
    transform: rotate(0);
  }
}
.swiper {
  margin-bottom: 30px;
}

.swiper-wrapper {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: auto;
}

.swiper-slide {
  width: 500px;
  height: auto;
  margin-bottom: 50px;
}
.swiper-slide img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination {
  color: white;
}

.swiper-button-prev {
  color: #fadb3f;
  background-color: rgba(250, 219, 63, 0.0431372549);
}

.swiper-button-next {
  color: #fadb3f;
  background-color: rgba(250, 219, 63, 0.0431372549);
}

.swiper-pagination-bullet {
  background-color: rgb(252, 230, 88);
  width: 20px;
  height: 20px;
}
@media (max-width: 370px) {
  .swiper-pagination-bullet {
    width: 17px;
    height: 17px;
  }
}

.swiper-pagination-bullet-active {
  background-color: white;
}

/* ________________section-five________________ */
.section-five__record {
  background-color: #282828;
}

.record__contain {
  position: relative;
}
.record__title {
  color: #fff;
  font-family: "Playfair Display";
  text-align: center;
  position: relative;
  font-size: calc(16px + 20 * (100vw - 320px) / 820);
  line-height: calc(20px + 36 * (100vw - 320px) / 820);
  padding-top: calc(40px + 50 * (100vw - 320px) / 820);
  margin-bottom: calc(15px + 15 * (100vw - 320px) / 820);
}
.record img {
  width: calc(70px + 120 * (100vw - 320px) / 820);
}
.record__imageL {
  position: absolute;
  top: 60px;
}
@media (min-width: 1800px) {
  .record__imageL {
    top: 60px;
    left: -280px;
  }
}
.record__imageR {
  position: absolute;
  right: 0px;
  top: 64px;
}
@media (min-width: 1800px) {
  .record__imageR {
    top: 64px;
    right: -280px;
  }
}
.record__text {
  color: #fff;
  max-width: 740px;
  font-size: calc(13px + 3 * (100vw - 320px) / 820);
  line-height: calc(22px + 11 * (100vw - 320px) / 820);
  margin: auto;
  text-align: center;
  padding-bottom: 40px;
}
.record__find-us {
  color: #fff;
  font-size: calc(16px + 6 * (100vw - 320px) / 820);
  margin-bottom: 30px;
}
.record__map {
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}

/* Form-feature */
.sendform {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.form-group {
  color: #fff;
  margin: 10px 0;
  width: 100%;
  /*  input:invalid {
     border: 1px solid red;
   } */
  /* input:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  } */
  /* input:valid {
    border: 1px solid #0f1d28;
  } */
}
.form-group span {
  color: red;
}
.form-group input.rqrd {
  border-color: red;
  animation: inputAnim 1s ease-in-out;
}
.form-group input {
  border: #0f1d28 1px solid;
  padding: 5px;
  border-radius: 5px;
  font-size: 17px;
  width: 100%;
  line-height: 32px;
  margin: 0 0 5px 0;
}
.form-group button {
  position: relative;
  display: inline-block;
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #fff0f0;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  transition: transform 0.4s;
  transform-style: preserve-3d;
  width: 100%;
}
.form-group button:hover {
  background: #ffe9e9;
  transform: translate(0, 0.25em);
}
.form-group button:hover::before {
  box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
  transform: translate3d(0, 0.5em, -1em);
}
.form-group button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f9c4d2;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 0.15s, box-shadow 0.15s;
}
.form-group button:active {
  background: #ffe9e9;
  transform: translate(0em, 0.75em);
}
.form-group button:active::before {
  box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
  transform: translate3d(0, 0, -1em);
}

.form-group:has(> button) {
  display: flex;
  justify-content: center;
}

.form-group p {
  margin: 0 0 5px 0;
}

#tg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
}

.error {
  border: red;
}

/* /Form-feature */
/* ________________/section-five________________ */
@keyframes inputAnim {
  0% {
    transform: translateX(0%);
    background-color: red;
  }
  15% {
    transform: translateX(1%);
  }
  30% {
    transform: translateX(-1%);
  }
  45% {
    transform: translateX(1%);
  }
  60% {
    transform: translateX(-1%);
  }
  85% {
    transform: translateX(1%);
  }
  100% {
    transform: translateX(0%);
    background-color: #ffdcdc;
  }
}